# Metrics Server: Helm Values (DEV)

args:
  - --kubelet-insecure-tls
  - --kubelet-preferred-address-types=InternalIP

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi

# API ?œë¹„???¤ì •
apiService:
  create: true
