provider: aws
domainFilters:
  - kyeol.click
txtOwnerId: kyeol-prod
serviceAccount:
  create: true
  name: external-dns
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::827913617839:role/kyeol-prod-external-dns-role
